::-moz-selection { /* Code for Firefox */
    color: red;
    background: yellow;
}

::selection {
    color: red;
    background: yellow;
}
  @media (min-width: 769px) {
      .pb_cover_v1 > .container > .row > .col-md-6{
          text-align: center;
          flex: 0 0 100%;
          max-width: 100%;
      } 
      .pb_cover_v1 > .container > .row > .col-md-6 > .mb-3{
          font-size: 57px;
          text-align: center;
      } 
      .pb_cover_v1 > .container > .row > .col-md-6 > .sub-heading{
          max-width: 100%;
          float: none;
          text-align: center;
      }
      .pb_cover_v1 > .container > .row > .col-md-6 > .sub-heading > .mb-5{ 
          font-size: 22px;
      }    
      .quote_sec{
          background: #f8f9fa;
		      padding: 7em 0 !important;
      }

  }
  
  @media (max-width: 767px){
  	  .quote_block{
		      padding-right: 20px;
		      padding-left: 20px;
		      text-align: center;
	  }
      .quote_sec{
          background: #f8f9fa;
      }	  
  }

  .bg-light {
      background-image: linear-gradient(130deg, #F7FAFC 3%, #DFEBF7 100%);
  }
  .quote_sec {
      background-image: linear-gradient(130deg, #F7FAFC 3%, #DFEBF7 100%);
  }

  .pb_outline-dark:hover, .pb_outline-dark:active, .pb_outline-dark:focus {
      outline: none;
      background: #12162d !important;
      border: 1px solid #12162d;
	    color: #fff;
  }
  
  .aside_practice{
	   padding: 2em 0 !important;
	   padding-top: 125px !important;
  }
  .pb_testimonial_v1{
	   background: #f8f9fa !important;
     padding: 5em 0 !important;
  }
  
  .client_list{
	   color: #555 !important;
     padding: 0px 10px;
     width: 100%;
     min-height: 1px;
 
  }

  .client-head{
    margin-bottom: 50px;
  }

  .heading-border-top:before{
	background: #112378 !important;  
  }

  .pb_font-18{
	  color: #112378 !important; 
      font-weight: 600;
  }
  
  .dad-photo{
    max-width: 100%;
    max-height: 100%;
  }

  @media (min-width: 992px){
    .client_list{
      flex-basis: 0;
      flex-grow: 1;
      -webkit-box-flex: 1;
      max-width: 100%;
    }
    .client-flex{
      flex: 0 0 70% !important;
      max-width: 100% !important;
    }
  }