      
  @media (min-width: 769px) {
      .pb_cover_v1 > .container > .row > .col-md-6{
          position:fixed;
          max-width: 85%;
		  padding-right: 20px;
      } 
      .pb_cover_v1 > .container > .row > .col-md-6 > .mb-3{
          font-size: 57px;
      } 
      .pb_cover_v1 > .container > .row > .col-md-6 > .sub-heading{
          max-width: 100%;
          float: none;
      } 
      .pb_cover_v1 > .container > .row > .col-md-6 > .sub-heading > .mb-5{
          font-size: 17px;
          float: left;

      }
      .form_button{
          margin-left: 35% !important;
          
      }
      .quote_sec{
          background: #f8f9fa;
      }

  }
  
  @media (max-width: 767px){
  	  .quote_block{
		  padding-right: 20px;
		  padding-left: 20px;
		  text-align: center;
	  }
  }